<bs-panel>
        <h1>Beforschung</h1>
   
        
        <div class="gap">
            <semantic-table
                query='SELECT * WHERE {
                    ?s m4p0:researched ?o
                    
                }'
            
                column-configuration='[
                {"variableName": "s", "displayName": "Beforschung"}, 
                {"variableName": "p", "displayName": "gehört zu"},  
                {"variableName": "o", "displayName": "digitale Anwendung"}
    
                ]'                     

            ></semantic-table>
        </div>
    </bs-panel>