<bs-panel>
  <h1>Katalog digitaler Anwendungen</h1>

  <p>Finden Sie hier digitale Anwendungen und damit verbundene Kontexte wie Entwicklungschritte, Vermittlungskonzepte
    und Projekte.</p>
    <ul style="list-style-type:none;">
  <li>
    
      <semantic-link title="m4p0:DigitalApp" uri=":ListApps" target=_blank>
        Digitale Anwendungen
      </semantic-link>
  </li>
    <li>
      <semantic-link title="crm:E65_Creation" uri=":ListCreation" target=_blank>
        Entwicklung digitaler Anwendungen
      </semantic-link>
    </li>
    <li>
      <semantic-link title="m4p0:Operation" uri=":ListOperations" target=_blank>
        Betrieb digitaler Anwendungen
      </semantic-link>
    </li>
    <li>
      <semantic-link title="m4p0:OutputDevice" uri=":ListOutputDevice" target=_blank>
        Abspielgeräte
      </semantic-link>
    </li>
    <li>
      <semantic-link title="m4p0:Project" uri=":ListProjects" target=_blank>
        Projekt
      </semantic-link>
    </li>
    <li>
      <semantic-link title="crm:E74_Group" uri=":ListGroups" target=_blank>
        beteiligte Institutionen
      </semantic-link>
    </li>
    <li>
      <semantic-link title="crm:E21_Person" uri=":ListPersons" target=_blank>
        beteiligte Personen
      </semantic-link>
    </li>
   
</ul>
  <p>Erstellen Sie neue Datensätze</p>
  <ul style="list-style-type:none;">
  <li>
    <li>
      <semantic-link title="m4p0:DigitalApp" uri=":DigitalApp" target=_blank>
        Digitale Anwendung
      </semantic-link>
    </li>
    <li>
      <semantic-link title="m4p0:OutputDevice" uri=":OutputDevice" target=_blank>
        Abspielgerät
      </semantic-link>
    </li>
    <li>
      <semantic-link title="m4p0:Project" uri=":Project" target=_blank>
        Projekt
      </semantic-link>
    </li>
  </li>
</ul>
</bs-panel>