
<bs-panel>
        <h1>Entwicklungsschritte</h1>
   
        <div class="gap">
            <semantic-link
                uri=':E65_Creation'
            >
                <button>neuen Entwicklungsschritt hinzufügen</button>
            </semantic-link>
        </div>
        <div class="gap">
            <semantic-table
                query= 'SELECT ?s ?p ?o WHERE {
                    ?s m4p0:hasCreatedDigitalApp ?o. 
                    
                }'
                column-configuration='[
                {"variableName": "s", "displayName": "Entwicklungsschritt"}, 
                {"variableName": "p", "displayName": "gehört zu"},  
                {"variableName": "o", "displayName": "digitale Anwendung"}
    
                ]'                     
            
        

            ></semantic-table>
        </div>
    </bs-panel>