
<bs-panel>
    <h1>Digitale Anwendung</h1>

    <h2>Grundinformationen</h2>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/digitalAppTitle']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/shortTitle']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasTechnologyType']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasMaturityLevel']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasAreaOfUse']]
    
    <h3>Gesamtentwicklungszeitraum</h3>
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/beginDate']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/endDate']]
    
    <h3>Sourcecode der digitalen Anwendung</h3>

    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/codeIsDocumentedIn']]
   
    <semantic-link
        uri=':DigitalApp'
        urlqueryparam-app='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Edit</button>
    </semantic-link>

<h2>Projektkontext</h2>
[[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/wasRealisedBy']]

<h2>Beforschung</h2>
[[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/researched']]

</bs-panel>