<bs-panel>
    <h1>Vermittlungskonzept</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasEducationFormat']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfEducationalGoal']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfUserNeeds']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasTargetAudience']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfNarration']]
    [[> :fieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/hasSubject']]
   
    
     <div class="gap">
        <semantic-link uri=':EducationalConcept' urlqueryparam-edu='[[this]]' urlqueryparam-tab='1'>
                <button>Datensatz bearbeiten</button>
            </semantic-link>
        </div>
        <h4>Nächster Schritt:</h4>
    
            <semantic-link uri=':E65_Creation' target=_blank>
                <button>Entwicklung</button>
            </semantic-link>

    </bs-panel>