<bs-panel>
    <h1>Project</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/realised']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/projectTitle']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/beginDate']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/endDate']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasInsitutionalSupport']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasEmployee']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/wasPartOfProject']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/wasFundedBy']]
    
    <semantic-link
        uri=':Project'
        urlqueryparam-creation='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Edit</button>
    </semantic-link>

    </bs-panel>