.gap {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
nav.metaphacts-header-navbar.navbar > .container-fluid {
  display: block !important;
}
nav.metaphacts-header-navbar.navbar > .container-fluid .navbar-collapse {
  margin-left: -15px;
  background-color: #2C3E50;
}
@media (min-width: 1200px) {
  nav.metaphacts-header-navbar.navbar > .container-fluid .navbar-header {
    width: 16.66667%;
  }
  nav.metaphacts-header-navbar.navbar > .container-fluid .navbar-nav li:first-child {
    margin-left: -15px;
  }
}
