<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true"
  data-role="navigation">
  <bs-navbar-header>
    <bs-navbar-brand>
      <a href="/">
        enter.museum4punkt0
      </a>
    </bs-navbar-brand>
    <bs-navbar-toggle />
  </bs-navbar-header>

  <bs-navbar-collapse>
    
    <ul class="nav navbar-nav">
   
      <semantic-link-container uri=":Home">
        <li title="Home">
          <a>Startseite</a>
        </li>
      </semantic-link-container>
      <semantic-link-container uri=":How">
        <li title="Hilfe">
          <a>Hilfe</a>
        </li>
      </semantic-link-container>

      <bs-nav-dropdown title="Neuer Datensatz" id="basic-nav-dropdown">

        <semantic-link-container uri=":DigitalApp">
          <bs-menu-item>
            Digitale Anwendung
          </bs-menu-item>
        </semantic-link-container>


        <semantic-link-container uri=":EducationalConcept">
          <bs-menu-item>
            Vermittlungskonzept
          </bs-menu-item>
        </semantic-link-container>


        <semantic-link-container uri=":E65_Creation">
          <bs-menu-item>
            Entwicklung
          </bs-menu-item>
        </semantic-link-container>


        <semantic-link-container uri=":ResearchActivity">
          <bs-menu-item>
            Beforschung
          </bs-menu-item>
        </semantic-link-container>


        <semantic-link-container uri=":Operation">
          <bs-menu-item>
            Betrieb
          </bs-menu-item>
        </semantic-link-container>


        <semantic-link-container uri=":Project">
          <bs-menu-item>
            Projekt
          </bs-menu-item>
        </semantic-link-container>


      </bs-nav-dropdown>
      <bs-nav-dropdown title="Listen" id="basic-nav-dropdown">

        <semantic-link-container uri=":ListApps">
          <bs-menu-item>
            Digitale Anwendungen
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListEducationalConcept">
          <bs-menu-item>
            Vermittlungskonzept
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListCreation">
          <bs-menu-item>
            Entwicklung
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListResearchActivity">
          <bs-menu-item>
            Befroschung
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListOperations">
          <bs-menu-item>
            Betrieb
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListProjects">
          <bs-menu-item>
            Projekte
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListGroups">
          <bs-menu-item>
            Institutionen
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListPersons">
          <bs-menu-item>
            Personen
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListOutputDevice">
          <bs-menu-item>
            Ausspielgeräte
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListTool">
          <bs-menu-item>
            Geräte, Software und Hilfsmittel
          </bs-menu-item>
        </semantic-link-container>
        <semantic-link-container uri=":ListDocument">
          <bs-menu-item>
            Quellen
          </bs-menu-item>
        </semantic-link-container>

      </bs-nav-dropdown>

    </ul>
    <bs-nav data-pull-right="true">
      <ul class="nav navbar-nav">
        <semantic-link-container uri="http://www.metaphacts.com/resource/assets/Fields">
          <li title="Fields">
            <a>Fields</a>
          </li>
        </semantic-link-container>
        <li>
          <mp-link url="/sparql" title="Sparql Endpoint">SPARQL</mp-link>
        </li>
        
      </ul>
     
      <mp-nav-account></mp-nav-account>
      <mp-anonymous-hidden>
        <semantic-link-container uri="http://www.metaphacts.com/resource/admin/">
          <li title="System Settings">
            <a><i class="fa fa-cog"></i></a>
          </li>
        </semantic-link-container>
      </mp-anonymous-hidden>
      <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
        <li title="Help">
          <a><i class="fa fa-question-circle"></i></a>
        </li>
      </semantic-link-container>
    
  </bs-navbar-collapse>
</bs-navbar>