<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true"
  data-role="navigation">
  <bs-navbar-header>
    <bs-navbar-brand>
      <a href="/">
        enter.museum4punkt0
      </a>
    </bs-navbar-brand>
    <bs-navbar-toggle />
  </bs-navbar-header>
  <bs-navbar-collapse>
    <ul class="nav navbar-nav">
      <semantic-link-container uri='[[resolvePrefix ":Home"]]'>
        <li title="Home">
          <a>Startseite</a>
        </li>
      </semantic-link-container>
       <semantic-link-container uri='[[resolvePrefix ":How"]]'>
        <li title="Hilfe">
          <a>Hilfe</a>
        </li>
      </semantic-link-container>
      <bs-nav-dropdown title="Neuer Datensatz" id="navbar-dropdown">
        
          <semantic-link-container uri='[[resolvePrefix ":DigitalApp"]]'>
            <li title="Digitale Anwendung">
              <a>Digitale Anwendung</a>
            </li>
          </semantic-link-container>

          <semantic-link-container uri='[[resolvePrefix ":EducationalConcept"]]'>
            <li title="Vermittlungskonzept">
              <a>Vermittlungskonzept</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":E65_Creation"]]'>
            <li title="Entwicklung">
              <a>Entwicklung</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ResearchActivity"]]'>
            <li title="Beforschung">
              <a>Beforschung</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":Operation"]]'>
            <li title="Betrieb">
              <a>Betrieb</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":Project"]]'>
            <li title="Projekt">
              <a>Projekt</a>
            </li>
          </semantic-link-container>
        
      </bs-nav-dropdown>
      <bs-nav-dropdown title="Listen" id="navbar-dropdown">
        
          <semantic-link-container uri='[[resolvePrefix ":ListApps"]]'>
            <li title="Digitale Anwendungen">
              <a>Digitale Anwendungen</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListEducationalConcept"]]'>
            <li title="Vermittlungskonzepte">
              <a>Vermittlungskonzepte</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListCreation"]]'>
            <li title="Entwicklung">
              <a>Entwicklung</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListResearchActivity"]]'>
            <li title="Befroschung">
              <a>Befroschung</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListOperations"]]'>
            <li title="Betrieb">
              <a>Betrieb</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListProjects"]]'>
            <li title="Projekte">
              <a>Projekte</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListGroups"]]'>
            <li title="Institutionen">
              <a>Institutionen</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListPersons"]]'>
            <li title="Personen">
              <a>Personen</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListOutputDevice"]]'>
            <li title="Ausspielger채te">
              <a>Ausspielger채te</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListTool"]]'>
            <li title="Ger채te, Software und Hilfsmittel">
              <a>Ger채te, Software und Hilfsmittel</a>
            </li>
          </semantic-link-container>
          <semantic-link-container uri='[[resolvePrefix ":ListDocument"]]'>
            <li title="Quellen">
              <a>Quellen</a>
            </li>
          </semantic-link-container>
        
      </bs-nav-dropdown>      
    </ul>
    <bs-nav data-pull-right="true">
      <ul class="nav navbar-nav">
        <semantic-link-container uri="http://www.metaphacts.com/resource/assets/Fields">
          <li title="Fields">
            <a>Fields</a>
          </li>
        </semantic-link-container>
        <li>
          <mp-link url="/sparql" title="Sparql Endpoint">SPARQL</mp-link>
        </li>
      </ul>
      <mp-nav-account></mp-nav-account>
      <mp-anonymous-hidden>
        <semantic-link-container uri="http://www.metaphacts.com/resource/admin/">
          <li title="System Settings">
            <a><i class="fa fa-cog"></i></a>
          </li>
        </semantic-link-container>
      </mp-anonymous-hidden>
      <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
        <li title="Help">
          <a><i class="fa fa-question-circle"></i></a>
        </li>
      </semantic-link-container>
    </bs-nav>
  </bs-navbar-collapse>
</bs-navbar>