<bs-navbar data-fluid="true" class="metaphacts-header-navbar" data-fixed-top="true" data-inverse="true"
  data-role="navigation">
  <bs-navbar-header>
    <bs-navbar-brand>
      <a href="/">
        enter.museum4punkt0
      </a>
    </bs-navbar-brand>
    <bs-navbar-toggle />
  </bs-navbar-header>

  <bs-navbar-collapse>

    <ul class="nav navbar-nav">

      <semantic-link-container uri='http://www.researchspace.org/resource/Home'>
        <li title="Home">
          <a>Startseite </a>
        </li>
      </semantic-link-container>
      <semantic-link-container uri='http://www.researchspace.org/resource/How'>
      <li title="How">
      <a>  Hilfe</a></li>
      </semantic-link-container>
      <!--
      <bs-nav-dropdown title="Neuer Datensatz" id="basic-nav-dropdown">
        <bs-menu-item>
          <semantic-link title="m4p0:DigitalApp" iri='[[resolvePrefix ":DigitalApp"]]'>

            Digitale Anwendung

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link title="m4p0:EducationalConcept" iri='[[resolvePrefix ":EducationalConcept"]]'>

            Vermittlungskonzept

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link title="crm:E65_Creation" iri='[[resolvePrefix ":E65_Creation"]]'>

            Entwicklung

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link title="m4p0:ResearchActivity" iri='[[resolvePrefix ":ResearchActivity"]]'>

            Beforschung

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link title="m4p0:Operation" iri='[[resolvePrefix ":Operation"]]'>

            Betrieb

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link title="m4p0:Project" iri='[[resolvePrefix ":Project"]]'>
            Projekt

          </semantic-link>
        </bs-menu-item>

      </bs-nav-dropdown>
      <bs-nav-dropdown title="Listen" id="basic-nav-dropdown">
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListApps"]]'>

            Digitale Anwendungen

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListEducationalConcept"]]'>

            Vermittlungskonzept

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListCreation"]]'>

            Entwicklung

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListResearchActivity"]]'>

            Befroschung

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListOperations"]]'>

            Betrieb

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListProjects"]]'>

            Projekte

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListGroups"]]'>

            Institutionen

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListPersons"]]'>

            Personen

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item></bs-menu-item>
        <semantic-link iri='[[resolvePrefix ":ListOutputDevice"]]'>

          Ausspielgeräte

        </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListTool"]]'>

            Geräte, Software und Hilfsmittel

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item>
          <semantic-link iri='[[resolvePrefix ":ListDocument"]]'>

            Quellen

          </semantic-link>
        </bs-menu-item>
        <bs-menu-item></bs-menu-item>
        <semantic-link iri='[[resolvePrefix ":ListVocabs"]]'>

          Vokabulare

        </semantic-link>
        </bs-menu-item>

      </bs-nav-dropdown>
      <semantic-link uri="http://www.metaphacts.com/resource/SimpleSearch">
        Suche
      </semantic-link>
    </ul>
    -->
      <bs-nav data-pull-right="true">
        <ul class="nav navbar-nav">

          <semantic-link-container uri="http://www.metaphacts.com/resource/assets/Fields">
            <li title="Fields">
              <a>Fields</a>
            </li>
          </semantic-link-container>
          <li>
            <mp-link url="/sparql" title="Sparql Endpoint">SPARQL</mp-link>
          </li>

        </ul>

        <mp-nav-account></mp-nav-account>
        <mp-anonymous-hidden>

          <semantic-link-container uri="http://www.metaphacts.com/resource/admin/">
            <li title="System Settings">
              <a><i class="fa fa-cog"></i></a>
            </li>
          </semantic-link-container>

        </mp-anonymous-hidden>
        <semantic-link-container uri="http://help.metaphacts.com/resource/Start">
          <li title="Help">
            <a><i class="fa fa-question-circle"></i></a>
          </li>
        </semantic-link-container>
      </bs-nav>
  </bs-navbar-collapse>
</bs-navbar>