<bs-panel>
    <h1>Vermittlungskonzept</h1>

    
    <div class="gap">
        <semantic-link
        iri='[[resolvePrefix ":EducationalConcept"]]'
    >
        <button>neues Vermittlungskonzept hinzufügen</button>
    </semantic-link>
        <semantic-table
            query='SELECT ?s ?p ?o WHERE {
                ?s m4p0:isEducationalConceptOf ?o
                
            }'
            column-configuration='[
            {"variableName": "o", "displayName": "digitale Anwendung"},
            {"variableName": "s", "displayName": "Vermittlungskonzept"}  
            

            ]'                          
        
    

        ></semantic-table>
    </div>
</bs-panel>


