
<bs-panel> 
<h1>Personen</h1>

    <div class="gap">
        <semantic-link
            uri=':E21_Person'
        >
            <button>neue Person hinzufügen</button>
        </semantic-link>
    </div>

    <div class="gap">
        <semantic-table
            query='SELECT ?value ?givenName ?familyName
            WHERE {?value a crm:E21_Person ;
              schema:familyName ?familyName.            
              OPTIONAL { ?value schema:givenName ?givenName }.
            }
              '          
              column-configuration='[
              {"variableName": "value", "displayName": "Person"}, 
              {"variableName": "familyName", "displayName": "Nachname"},
              {"variableName": "givenName", "displayName": "Vorname"}  
              ]'  
        ></semantic-table>
    </div>
</bs-panel>

