
<bs-panel>
        <h1>Entwicklung</h1>
   
        <div class="gap">
            <semantic-link
                iri='[[resolvePrefix ":E65_Creation"]]'
            >
                <button>neuen Entwicklungsschritt hinzufügen</button>
            </semantic-link>
        </div>
        <div class="gap">
            <semantic-table
                query= 'SELECT * WHERE {
                    ?s a crm:E65_Creation; 
                       m4p0:hasCreatedDigitalApp ?o. 
                                        
                                    }'
                column-configuration='[
                {"variableName": "o", "displayName": "digitale Anwendung"},                
                {"variableName": "s", "displayName": "Entwicklung"} 
                 
                
    
                ]'                     
            
        

            ></semantic-table>
        </div>
    </bs-panel>