<bs-panel>
    <h1>Digitale Anwendungen</h1>

    <div class="gap">
        <semantic-link
            iri='[[resolvePrefix ":DigitalApp"]]'
        >
            <button>neue digitale Anwendung</button>
        </semantic-link>
    </div>

    <div class="gap">
        <semantic-table
            query='SELECT * WHERE {
                ?subject a m4p0:DigitalApp ;
                m4p0:digitalAppTitle ?app_title .
            }'
            column-configuration='[
            {
                "variableName": "subject",
                "displayName": "Bezeichnung der digitalen Anwendung"
            }]'
        ></semantic-table>
    </div>
</bs-panel>