<!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####            Tool                   #####
    #####                                   ##### 
    #############################################
    
                
                -->

<bs-panel>
    <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/Tool/{{UUID}}"
        subject='[[urlParam "tool"]]' post-action='redirect' browser-persistence=false form-id='Tool' fields="[[fieldDefinitions 
    toolRdfType='http://www.metaphacts.com/fieldDefinition/toolRdfType'    
    toolTitle='http://www.metaphacts.com/fieldDefinition/toolTitle'
        hasToolType='http://www.metaphacts.com/fieldDefinition/hasToolType'
        P70i_is_documented_in='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in'
    ]]">
        <h1>Hilfsmittel</h1>
        <semantic-form-hidden-input for="toolRdfType"></semantic-form-hidden-input>
        <semantic-form-text-input for="toolTitle">
        </semantic-form-text-input>
        <semantic-form-tree-picker-input for="hasToolType">
                <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{UUID}}"
                fields="[[fieldDefinitions
                conceptRdfType='http://www.metaphacts.com/fieldDefinition/conceptRdfType'                       
                inSchemeToolType='http://www.metaphacts.com/fieldDefinition/inSchemeToolType'  
                conceptSchemeRdfType='http://www.metaphacts.com/fieldDefinition/conceptSchemeRdfType'  
                                        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
                                        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
                                            ]]">
                                            <semantic-form-hidden-input for="conceptRdfType"></semantic-form-hidden-input>
                                           <semantic-form-hidden-input for="inSchemeToolType" default-value='skos:Concept'>

                </semantic-form-hidden-input>
                <semantic-form-hidden-input for="conceptSchemeRdfType" default-value='https://www.museum4punkt0.de/catalogue/ontology/ToolType'></semantic-form-hidden-input>
                <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>
                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>

                <semantic-form-errors></semantic-form-errors>
                <button name='submit' class='btn btn-default'>Speichern</button>
            </semantic-form>
        </semantic-form-tree-picker-input>
        <semantic-form-composite-input for="P70i_is_documented_in"
            new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
            fields="[[fieldDefinitions]]">
            <h4>Quelle</h4>
            <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/documentRdfType">
            </semantic-form-hidden-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/documentTitle">
            </semantic-form-text-input>
            <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
            </semantic-form-text-input>

        </semantic-form-composite-input>


        <semantic-form-errors></semantic-form-errors>
        <button name='submit' class='btn btn-default'>Speichern</button>
    </semantic-form>
</bs-panel>