
<bs-panel>
        <h1>Betrieb</h1>
   
        <div class="gap">
            <semantic-link
                iri='[[resolvePrefix ":Operation"]]'
            >
                <button>neuen Betrieb hinzufügen</button>
            </semantic-link>
        </div>
        <div class="gap">
            <semantic-table
                query='SELECT * WHERE {
                    ?s m4p0:operated ?o. 
                    
                }'
                column-configuration='[
                {"variableName": "s", "displayName": "Betrieb"}, 
                {"variableName": "p", "displayName": "gehört zu"},  
                {"variableName": "o", "displayName": "digitale Anwendung"}
    
                ]'                     
        

            ></semantic-table>
        </div>
    </bs-panel>