
<bs-panel>
        <h1>Ausspielgeräte</h1>
   
        <div class="gap">
            <semantic-link
                uri=':OutputDevice'
            >
                <button>neues Ausspielgerät hinzufügen</button>
            </semantic-link>
        </div>
        <div class="gap">
            <semantic-table
                query='SELECT * WHERE {
                    ?s m4p0:toolTitle ?label. 
                    
                }'
                column-configuration='[
                {
                    "variableName": "s",
                    "displayName": "Bezeichnung des Ausspielgeräts"
                }]'
        

            ></semantic-table>
        </div>
    </bs-panel>