<bs-panel>
<h1>Begriff</h1>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/terms/{{UUID}}'
        subject='[[urlParam "concept"]]' 
        post-action='redirect' 
        browser-persistence=false 
        form-id='Concept' 
        fields="[[fieldDefinitions
        conceptRdfType='http://www.metaphacts.com/fieldDefinition/conceptRdfType'  
        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
        altLabel='http://www.metaphacts.com/fieldDefinition/altLabel'
        ]]">

         <semantic-form-hidden-input for="conceptRdfType"></semantic-form-hidden-input>
     
          <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true></semantic-form-text-input>

                <semantic-form-text-input for="altLabel" languages='["de", "en"]' require-language=true>
                </semantic-form-text-input>                                  



        <semantic-form-errors></semantic-form-errors>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <button name="submit" class="btn btn-default" style="background-color: lightgray; border-style:outset;">Speichern</button>
       
</semantic-form>
</bs-panel>