

<bs-panel>
    <h1>Vokabular: Art des Ausspielgeräts</h1>

    <div class="gap">

        <semantic-query query='
       PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
       PREFIX m4p0: <https://www.museum4punkt0.de/catalogue/ontology/>
	   SELECT * WHERE {
             ?s skos:inScheme m4p0:OutputDeviceType;
                skos:prefLabel ?preflabel.
  }
        ' template='{{> template}}'>
            <template id='template'>
                <div>
                    <b>Begriffe</b>
                    <ul>
                        {{#each bindings}}
                        <li>
                            <semantic-link uri="{{s.value}}">
                                {{prefLabel.value}}
                            </semantic-link>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </template>
        </semantic-query>

    </div>

</bs-panel>




 