
<bs-panel>
    <h1>Digitale Anwendung</h1>
    <semantic-form new-subject-template='https://enter.museum4punkt0.de/resources/DigitalApp/{{UUID}}'
        subject='[[urlParam "app"]]' post-action='redirect' browser-persistence=false form-id='DigitalApp'
        fields="[[fieldDefinitions]]">


        <bs-tabs fixed-key="form" default-active-key="[[#if (urlParam "tab" )]][[urlParam "tab" ]][[else]]1[[/if]]">

 <!--
    #############################################
    #####                                   #####
    #####                                   #####
    #####         Grundinfos                #####
    #####                                   ##### 
    #############################################
    
   -->           
       
                <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/digitalAppRdfType">
                </semantic-form-hidden-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/digitalAppTitle">
                </semantic-form-text-input>
                <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/shortTitle">
                </semantic-form-text-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasTechnologyType">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasMaturityLevel">
                </semantic-form-checklist-input>
                <semantic-form-checklist-input for="http://www.metaphacts.com/fieldDefinition/hasAreaOfUse">
                </semantic-form-checklist-input>


                <h4>Sourcecode der digitalen Anwendung</h4>
                <semantic-form-composite-input for="http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in"
                    new-subject-template="https://enter.museum4punkt0.de/resources/E31_Document/{{UUID}}"
                    fields="[[fieldDefinitions]]">
                    <h4>Link zu GitHub</h4>
                    <semantic-form-hidden-input for="http://www.metaphacts.com/fieldDefinition/documentRdfType">
                    </semantic-form-hidden-input>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/documentTitle">
                    </semantic-form-text-input>
                    <semantic-form-text-input for="http://www.metaphacts.com/fieldDefinition/url">
                    </semantic-form-text-input>

                </semantic-form-composite-input>
                <h4>Gesamtentwicklungszeitraum</h4>
                <p>Geben Sie den Beginn des Zeitraums an. Wenn Sie das taggenaue Datum nicht angeben können, so
                    schätzen Sie es.
                    Es kommt vor allem darauf an eine ungefähre Einschätzung von der Dauer des Entwicklungsprozesses
                    zu geben.
                    Dies soll es denjenigen helfen, die selbst die Entwicklung einer digitalen Anwendung dieser Art
                    planen und
                    ihnen die Möglichkeit geben Zeiten realistischer zu planen.</p>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/beginDate">
                </semantic-form-datetime-input>
                <semantic-form-datetime-input for="http://www.metaphacts.com/fieldDefinition/endDate">
                </semantic-form-datetime-input>


                <h3>Vermarktung</h3>
                <semantic-form-tree-picker-input for="http://www.metaphacts.com/fieldDefinition/hasTouchpoints">
                    <semantic-form new-subject-template="https://enter.museum4punkt0.de/resources/terms/{{UUID}}"
                        fields="[[fieldDefinitions
        inSchemeTouchpoints='http://www.metaphacts.com/fieldDefinition/inSchemeTouchpoints'
        prefLabel='http://www.metaphacts.com/fieldDefinition/prefLabel'
        ]]">
                        <semantic-form-hidden-input for="inSchemeTouchpoints" default-value='skos:Concept'>
                        </semantic-form-hidden-input>
                        <semantic-form-text-input for="prefLabel" languages='["de", "en"]' require-language=true>
                        </semantic-form-text-input>

                        <semantic-form-errors></semantic-form-errors>
                        <button name='submit' class='btn btn-default'>Create</button>
                        <button name='reset' class='btn btn-default'>Reset</button>

                    </semantic-form>
                </semantic-form-tree-picker-input>
                <h3>Projekt</h3>
<p>Geben Sie ein Projekt an, in dessen Zusammenhang die digitale Anwendung entwickelt wurde.</p>
<semantic-form-autocomplete-input for="http://www.metaphacts.com/fieldDefinition/wasRealisedBy">    
</semantic-form-autocomplete-input>

     
        
            <semantic-form-errors></semantic-form-errors>
            <semantic-form-recover-notification></semantic-form-recover-notification>
            <button name="submit" class="btn btn-default" style="background-color: lightgray; border-style:outset;">Speichern</button>
           
       
    </semantic-form>
</bs-panel>