<div class="page">
  <div class="page__header page__header--no-image">
    <bs-col>

      <h1>Katalog digitaler Anwendungen für museale Vermittlung</h1>
      <div class="gap">
        Mit dem Katalog werden digitale Anwendungen für die museale Vermittlung erfasst.
        Dabei wird die Anwendung in ihrem Kontext betrachtet: Neben Kerninformationen zur
        digitalen
        Anwendung werden auch Informationen zu Entwicklung, Beforschung, Betrieb, Vermittlungskonzept sowie auch
        zum Projektkontext dokumentiert.</br>
        Museen und Kultureinrichtungen können diese Informationen nutzen, um bestehende Anwendungen zu
        integrieren oder auch eigene Anwendungen neu zu konzipieren.

      </div>

    </bs-col>
  </div>
  <div class="page__body--borderless">

    <div data-flex-layout="row stretch-stretch">
      <div data-flex-layout="row top-stretch">
        <div class="grid-demo" style="margin-right: 70px; margin-left: 40px;">
          <h3>How to: Datenerfassung</h3>
          <div class="alert alert-info">
            Lesen Sie die <semantic-link title=":How" iri='[[resolvePrefix ":How"]]' target=_blank>
              <b>Hilfe</b>
            </semantic-link>
            bevor Sie Daten erfassen!</br>
            Dort erhalten Sie hilfreiche Informationen zur Erstellung und Bearbeitung von Daten.          
        </div>
        </div>
        <div class="grid-demo">
          <h3>Daten erfassen</h3>
          <p>Erstellen Sie neue Datensätze für:</p>
          <ul style="list-style-type:none;">
            <li>
              <semantic-link title="m4p0:Project" iri='[[resolvePrefix ":Project"]]' target=_blank>
                Projekt
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:DigitalApp" iri='[[resolvePrefix ":DigitalApp"]]' target=_blank>
                Digitale Anwendung
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:EducationalConcept" iri='[[resolvePrefix ":EducationalConcept"]]'
                target=_blank>
                Vermittlungskonzept einer digitalen Anwendung
              </semantic-link>
            </li>
            <li>
              <semantic-link title="crm:E65_Creation" iri='[[resolvePrefix ":E65_Creation"]]' target=_blank>
                Entwicklung einer digitalen Anwendung
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:ResearchActivity" iri='[[resolvePrefix ":ResearchActivity"]]' target=_blank>
                Beforschung einer digitalen Anwendung
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:Operation" iri='[[resolvePrefix ":Operation"]]' target=_blank>
                Betrieb einer digitalen Anwendung
              </semantic-link>
            </li>

          </ul>
        </div>
        <div class="grid-demo">
          <h3>Daten überprüfen</h3>
          <p>Hier finden Sie Listen aller bisher erstellten Datensätze:</p>
          <ul style="list-style-type:none;">
            <li>
              <semantic-link title="m4p0:Project" iri='[[resolvePrefix ":ListProjects"]]' target=_blank>
                Projekte
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:DigitalApp" iri='[[resolvePrefix ":ListApps"]]' target=_blank>
                Digitale Anwendungen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:EducationalConcept" iri='[[resolvePrefix ":ListEducationalConcept"]]'
                target=_blank>
                Vermittlungskonzepte digitaler Anwendungen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="crm:E65_Creation" iri='[[resolvePrefix ":ListCreation"]]' target=_blank>
                Entwicklung digitaler Anwendungen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:ResearchActivity" iri='[[resolvePrefix ":ListResearchActivity"]]'
                target=_blank>
                Beforschung digitaler Anwendungen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:Operation" iri='[[resolvePrefix ":ListOperations"]]' target=_blank>
                Betrieb digitaler Anwendungen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="crm:E74_Group" iri='[[resolvePrefix ":ListGroups"]]' target=_blank>
                beteiligte Institutionen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="crm:E21_Person" iri='[[resolvePrefix ":ListPersons"]]' target=_blank>
                beteiligte Personen
              </semantic-link>
            </li>
            <li>
              <semantic-link title="m4p0:OutputDevice" iri='[[resolvePrefix ":ListOutputDevice"]]' target=_blank>
                Ausspielgeräte
              </semantic-link>
            </li>
            <li>
              <semantic-link title="idp:Tool" iri='[[resolvePrefix ":ListTool"]]' target=_blank>
                Geräte, Software und Hilfsmittel
              </semantic-link>
            </li>
            <li>
              <semantic-link title="crm:E31_Document" iri='[[resolvePrefix ":ListDocument"]]' target=_blank>
                Quellen
              </semantic-link>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>
</div>