<bs-panel>
    <h1>Begriff</h1>

   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/prefLabel']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/altLabel']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeTargetAudience']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeExpertise']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeExperimenteeType']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeCreationMetod']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeSubject']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeToolType']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeActorRole']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeTouchpoints']]
   [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/inSchemeOutputDevice']]

   <div class="gap">
    <semantic-link iri='[[resolvePrefix ":Concept"]]' urlqueryparam-concept='[[this]]' urlqueryparam-tab='1'>
            <button>Datensatz bearbeiten</button>
        </semantic-link>
    </div>
   
   
   
       
    </bs-panel>