<bs-panel>
    <h1>Beforschung</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/researched']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfResearchAim']]
    <h3>Untersuchungssetting</h3>
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasSetting']]    
    <h3>entstandene Hilfsmittel</h3>
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasGeneratedTool']]    
    <h3>Erkenntnisse</h3>
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in']]


    <div class="gap">
        <semantic-link iri='[[resolvePrefix ":ResearchActivity"]]' urlqueryparam-research='[[this]]' urlqueryparam-tab='1'>
                <button>Datensatz bearbeiten</button>
            </semantic-link>
        </div>
        <h4>Nächster Schritt:</h4>
        <semantic-link iri='[[resolvePrefix ":Operation"]]' target=_blank>
            <button>Betrieb</button>
        </semantic-link>

    </bs-panel>

    