<bs-panel>
    <h1>Beforschung</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/researched']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfResearchAim']]
    <h3>Untersuchungssetting</h3>
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasResearchMethod']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasExperimenteeType']]
    <h4>Untersuchungsanlass</h4>
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/eventTitle']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/researchLocation']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/descriptionOfResearchSetting']]
    <h4>Untersuchungszeitraum</h4>
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/beginDate']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/endDate']]
    <h3>entstandene Hilfsmittel</h3>
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasGeneratedTool']]
    <h3>(nach-)genutzte Tools - Hilfsmittel/Geräte und/oder Software</h3>
    [[> :compositeFieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/usedTool']]
    [[> :compositeFieldVisualisation  field='http://www.metaphacts.com/fieldDefinition/usedSoftware']]
    <h3>Erkenntnisse</h3>
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in']]


    <div class="gap">
        <semantic-link iri='[[resolvePrefix ":ResearchActivity"]]' urlqueryparam-research='[[this]]' urlqueryparam-tab='1'>
                <button>Datensatz bearbeiten</button>
            </semantic-link>
        </div>

    </bs-panel>

    