<bs-panel>
    <h1>Software</h1>

    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/toolTitle']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/version']]
    [[> :fieldVisualisation field='http://www.metaphacts.com/fieldDefinition/hasSoftwareType']]
    [[> :compositeFieldVisualisation field='http://www.metaphacts.com/fieldDefinition/P70i_is_documented_in']]
    
    
    <semantic-link
        iri='[[resolvePrefix ":Software"]]'
        urlqueryparam-software='[[this]]'
        urlqueryparam-tab='1'
    >
        <button>Datensatz bearbeiten</button>
    </semantic-link>

    </bs-panel>